body {
    background-image: url("../imagenes/fnodo22.jfif");
}
.games {
    background-color: aliceblue;}
    
main{background-image: url(../imagenes/fnodo22.jfif);
        display: flex;
        flex-direction: column;
        justify-content: center;     
 }
