.botones{ 
    background-color: rgb(247, 247, 247);
    color: black;
    font-family: 'Anton', sans-serif;
    font-size: medium;
    border: 1px solid white;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
&:hover{   
    transform : scale(2);
    transition-property: all;
    transition-duration: 2s;
}
}