footer {
    background: black;
    color: aliceblue;
    font-weight: bold;
    font-family: 'Teko', sans-serif;; 
    list-style-type: none;
    margin-bottom: 0%;
    list-style-type: none;  
}

.footernew{ 
    padding-top: 80px;
    font-size: larger;
    padding-top: 0px;
    padding-bottom: 100px;


}
.nav-link {
    color: rgb(132, 135, 138);
}