.FORMU{
    margin-left: 510px;
    border: 2px solid white;
    margin-top: 50px;
    margin-right: 510px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top:20px ;
    padding-bottom: 20px;
}