.FORMU{
    margin-left: 510px;
    border: 2px solid rgb(194, 149, 149);
    margin-top: 50px;
    margin-right: 510px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top:20px ;
    padding-bottom: 20px;
}

.fonditoo{
    background-image:url(../imagenes/c30b8e92-779f-48c8-8b04-40e394bbf689.jfif);
}