img {
    margin-bottom: 10px;
    width: 20%;    
}
.facebook {
height: 1cm;
width: 1cm;
}
.twitter{
    height: 1cm;
    width: 1cm;
}
.instagram{
    height: 1cm;
    width: 1cm;   
}

.terrabusi{
    margin-left: 560px;
    margin-top: 0px;

       }
 
