.box_uno{
    background-color: $blue;
    width: $ancho/2;
    height: 40px;
}

.box_dos{
    background-color: $green;
    width: ($ancho/2)-50
}

/*mapas*/

$redes :(
    twitter:red,
    facebook:blue,
    instagram:rgb(155, 50, 129),
);

@each $red, $color in $redes {
    .btn--#{$red}{
        background-color: $color;
    }
}
    


/*extend*/

.redSocial{
    border: 2px solid red;
    background-color: aqua;
}

.redsocial--social{
    @extend .redSocial;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: aliceblue;
    border-radius: 5px;
}

.redsocial--nueva{
    @extend .redSocial;
    font-size: medium;
    color: rgb(59, 111, 113);

        
    
}


/*mixin*/
@mixin sizes ($widht, $height)
{height: $height;
width: $widht;
}

.my_mixin {
    @include sizes(500px,50px);
    background-color: chartreuse;
    
}

