/* PARRAFOS INDEX */
p {
    color: white;
    padding: 0px 50px;
    margin-bottom: 0px;
    text-align: center;
    font-family: 'Staatliches', cursive;
    font-size: larger;
}
.esports {
    background-color: rgb(9, 11, 33);
    color: rgb(248, 248, 248);
    margin-right:0px ;
    margin-left: 0px; 
    margin-bottom: 20px;
    padding-top: 70px;
    padding-bottom: 50px;
    align-items: center;
          
 }       
.comunidad{
background-color: black;
color: rgb(255, 255, 255);
align-items: center;

}
.juegos{
background-color: rgb(0, 0, 0);

align-items: center;
 
}
.historiatrr{
background-color: rgb(0, 0, 0);
color: rgb(249, 249, 249);
align-items: center;



}
 /* parrafos comunidad */
.comunity{
    margin-top: 20px;
    margin-bottom: 50px;
   background-color: rgb(5, 94, 15);
    color: rgb(0, 0, 0);
    font-size: larger;

}
/* cierro comunidad */

/* parrafos de hitoria */
.history{

    margin-bottom: 70px;
    background-image: url(../imagenes/338b27d5-a94f-4979-be23-09dc09d4e1a7.jfif );
    color: rgb(0, 119, 132);
    font-size: x-large;
    font-weight: 9000;
    font-family: fantasy;
}