
p {
    color: rgb(255, 255, 255);
    padding: 0px 50px;
    margin-bottom: 0px;
    text-decoration: none;
    text-align: center;
    font-family: 'Staatliches', cursive;
    font-size: larger;
}



.villa{
    color: white;
}

.raven{

    padding-top: 30px;
    font-size: xx-large;
    
}

.blackops{
    font-size: xx-large;
    border: 2px white solid;
}



.twi{
    font-size: xx-large;
    margin-top: 20px;
   &:hover{
    color: violet;
   }
}