/* PARRAFOS INDEX */
p {
    color: rgb(255, 255, 255);
    padding: 0px 50px;
    margin-bottom: 0px;
    text-decoration: none;
    text-align: center;
    font-family: 'Staatliches', cursive;
    font-size: larger;
}






 /* parrafos comunidad */
.comunity{
    margin-top: 20px;
    margin-bottom: 50px;
   background-color: rgb(5, 94, 15);
    color: rgb(0, 0, 0);
    font-size: larger;

}

.caruley{

    font-family: 'BIZ UDGothic', sans-serif;
    

}

.villa{
    color: white;
}
/* cierro comunidad */

/* parrafos de hitoria */
.history{

    margin-bottom: 70px;
    background-image: url(../imagenes/338b27d5-a94f-4979-be23-09dc09d4e1a7.jfif );
    color: rgb(0, 119, 132);
    font-size: x-large;
    font-weight: 9000;
    font-family: fantasy;
}