@import url("https://fonts.googleapis.com/css2?family=Koulen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Koulen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Smokum&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=BIZ+UDGothic&display=swap");
* {
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  background-color: black;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: black;
  font-size: 20px;
  font-family: 'Koulen', cursive;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: -webkit-sticky;
  position: sticky;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  font-size: larger;
  text-decoration: none;
  color: #8e928e;
  list-style-type: none;
}

h1 {
  color: gainsboro;
  font-weight: bold;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

h2 {
  font-weight: bolder;
  font-size: smaller;
  background-color: black;
  color: rgba(182, 182, 182, 0.564);
  padding-left: 20px;
  padding-right: 20px;
}

.historia {
  font-weight: bolder;
  font-size: xx-large;
  background-color: black;
  color: white;
}

.segundo {
  color: #96bdd4;
  margin-top: 1px;
  margin-bottom: 5px;
  background-color: black;
  padding-top: 20px;
  padding-bottom: 20px;
}

#platense {
  background-color: black;
  color: aliceblue;
  margin: 40px 10px;
  padding: 10px 70px 10px 525px;
  font-size: 30px;
  font-style: inherit;
  font-weight: bolder;
}

h3 {
  background-color: black;
  color: white;
}

body {
  background-color: black;
}

.games {
  background-color: black;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* PARRAFOS INDEX */
p {
  color: white;
  padding: 0px 50px;
  margin-bottom: 0px;
  text-decoration: none;
  text-align: center;
  font-family: 'Staatliches', cursive;
  font-size: larger;
}

/* parrafos comunidad */
.comunity {
  margin-top: 20px;
  margin-bottom: 50px;
  background-color: #055e0f;
  color: black;
  font-size: larger;
}

.caruley {
  font-family: 'BIZ UDGothic', sans-serif;
}

.villa {
  color: white;
}

/* cierro comunidad */
/* parrafos de hitoria */
.history {
  margin-bottom: 70px;
  background-image: url(../imagenes/338b27d5-a94f-4979-be23-09dc09d4e1a7.jfif);
  color: #007784;
  font-size: x-large;
  font-weight: 9000;
  font-family: fantasy;
}

.box1 {
  border-radius: 2px white;
  height: auto;
  width: auto;
  margin: 10px;
  margin-left: 20px;
  margin-right: 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(black), to(#5f5f5c));
  background: linear-gradient(black, #5f5f5c);
  padding-bottom: 50px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.box1:hover {
  -webkit-transform: scale(2);
          transform: scale(2);
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.definitive {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #525151;
  background-color: black;
  text-decoration: none;
  cursor: pointer;
}

.definitive:hover {
  -webkit-transform: perspective(6);
          transform: perspective(6);
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
  border: 2px solid gray;
  text-decoration: none;
}

img {
  margin-bottom: 10px;
  width: 20%;
}

.facebook {
  height: 1cm;
  width: 1cm;
}

.twitter {
  height: 1cm;
  width: 1cm;
}

.instagram {
  height: 1cm;
  width: 1cm;
}

.terrabusi {
  margin-left: 560px;
  margin-top: 0px;
}

footer {
  background: black;
  color: aliceblue;
  font-weight: bold;
  font-family: 'Teko', sans-serif;
  list-style-type: none;
  margin-bottom: 0%;
  list-style-type: none;
}

.footernew {
  padding-top: 80px;
  font-size: larger;
  padding-top: 0px;
  padding-bottom: 100px;
  color: salmon;
}

.nav-link {
  color: #84878a;
}

.botones {
  background-color: #f7f7f7;
  color: black;
  font-family: 'Anton', sans-serif;
  font-size: medium;
  border: 1px solid white;
  border-radius: 15px;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
}

.botones:hover {
  -webkit-transform: scale(2);
          transform: scale(2);
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
}

.grids {
  border: 10px #e90909 solid;
  border-radius: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  gap: 2px;
  margin: auto;
}

.soon img {
  width: 100%;
  height: 100%;
}

.alfa {
  padding-left: auto;
  width: 100%;
}

.portes {
  width: 100%;
  margin-bottom: 55px;
  margin-top: 55px;
  border: 2px solid white;
}

.FORMU {
  margin-left: 510px;
  border: 2px solid white;
  margin-top: 50px;
  margin-right: 510px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.box_uno {
  background-color: blue;
  width: 300px;
  height: 40px;
}

.box_dos {
  background-color: green;
  width: 250px;
}

/*mapas*/
.btn--twitter {
  background-color: red;
}

.btn--facebook {
  background-color: blue;
}

.btn--instagram {
  background-color: #9b3281;
}

/*extend*/
.redSocial, .redsocial--social, .redsocial--nueva {
  border: 2px solid red;
  background-color: aqua;
}

.redsocial--social {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: aliceblue;
  border-radius: 5px;
}

.redsocial--nueva {
  font-size: medium;
  color: #3b6f71;
}

/*mixin*/
.my_mixin {
  height: 50px;
  width: 500px;
  background-color: chartreuse;
}

@media (min-width: 600px) {
  .FORMU {
    margin-left: 0px;
    padding-left: 0;
    margin-right: 0;
    padding-right: 0px;
  }
}

@media (min-width: 300px) {
  .FORMU {
    margin-left: 0px;
    padding-left: 0;
    margin-right: 0;
    padding-right: 0px;
  }
}
/*# sourceMappingURL=style.css.map */