@import url("https://fonts.googleapis.com/css2?family=Koulen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Koulen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Smokum&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=BIZ+UDGothic&display=swap");
* {
  margin: 0;
  padding: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

header {
  position: static;
  top: 0px;
  background-color: black;
  padding-top: 10px;
  padding-bottom: 10px;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: black;
  font-size: 20px;
  font-family: 'Koulen', cursive;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: -webkit-sticky;
  position: sticky;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  font-size: larger;
  text-decoration: none;
  color: #8e928e;
  list-style-type: none;
}

h1 {
  color: gainsboro;
  font-weight: bold;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

h2 {
  font-weight: bolder;
  font-size: smaller;
  background-color: black;
  color: rgba(182, 182, 182, 0.564);
  padding-left: 20px;
  padding-right: 20px;
}

h3 {
  background-color: black;
  color: white;
}

.kruzadar {
  margin-top: 60px;
  margin-left: 150px;
  font-size: xx-large;
  background-color: #210707;
  color: white;
  margin-right: 150px;
}

body {
  background-color: black;
}

.twt {
  background-image: url(../imagenes/TWITCH2.png);
}

p {
  color: white;
  padding: 0px 50px;
  margin-bottom: 0px;
  text-decoration: none;
  text-align: center;
  font-family: 'Staatliches', cursive;
  font-size: larger;
}

.villa {
  color: white;
}

.raven {
  padding-top: 30px;
  font-size: xx-large;
}

.blackops {
  font-size: xx-large;
  border: 2px white solid;
}

.twi {
  font-size: xx-large;
  margin-top: 20px;
}

.twi:hover {
  color: violet;
}

.definitive {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #525151;
  background-color: black;
  text-decoration: none;
  cursor: pointer;
}

.definitive:hover {
  -webkit-transform: perspective(6);
          transform: perspective(6);
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
  border: 2px solid gray;
  text-decoration: none;
}

.EFECTEREW:hover {
  color: blue;
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
}

.raven {
  padding-top: 30px;
  font-size: xx-large;
}

.raven:hover {
  color: green;
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
}

.logocod {
  margin-left: 380px;
}

.logocod2 {
  margin-left: 420px;
}

footer {
  background: black;
  color: aliceblue;
  font-weight: bold;
  font-family: 'Teko', sans-serif;
  list-style-type: none;
  margin-bottom: 0%;
  list-style-type: none;
}

.footernew {
  padding-top: 80px;
  font-size: larger;
  padding-top: 0px;
  padding-bottom: 100px;
}

.nav-link {
  color: #84878a;
}

.grid43 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  margin-left: 30px;
}

.grids424 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.FORMU {
  margin-left: 510px;
  border: 2px solid #c29595;
  margin-top: 50px;
  margin-right: 510px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media (min-width: 900px) and (max-width: 1024px) {
  .FORMU {
    margin-left: 0px;
    padding-left: 0;
    margin-right: 0;
    padding-right: 0px;
  }
  .grid43 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
    margin: 10px;
    margin-left: 120px;
  }
  .logocod {
    margin: 210px;
    margin-bottom: 10px;
  }
  .logocod2 {
    margin: 240px;
    margin-bottom: 10px;
  }
  .grids424 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    margin-left: 180px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media (min-width: 830px) and (max-width: 900px) {
  .FORMU {
    margin-left: 0px;
    padding-left: 0;
    margin-right: 0;
    padding-right: 0px;
  }
  .grid43 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
    margin: 10px;
    margin-left: 100px;
  }
  .logocod {
    margin: 170px;
    margin-bottom: 10px;
  }
  .logocod2 {
    margin: 200px;
    margin-bottom: 10px;
  }
  .grids424 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    margin-left: 130px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media (min-width: 729px) and (max-width: 830px) {
  .FORMU {
    margin-left: 0px;
    padding-left: 0;
    margin-right: 0;
    padding-right: 0px;
  }
  .grid43 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
    margin: 10px;
    margin-left: 60px;
  }
  .logocod {
    margin: 120px;
    margin-bottom: 10px;
  }
  .logocod2 {
    margin: 150px;
    margin-bottom: 10px;
  }
  .grids424 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    margin-left: 90px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media (min-width: 620px) and (max-width: 729px) {
  .FORMU {
    margin-left: 0px;
    padding-left: 0;
    margin-right: 0;
    padding-right: 0px;
  }
  .definitive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .grid43 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    margin: 10px;
    margin-left: 210px;
  }
  .logocod {
    margin: 110px;
  }
  .logocod2 {
    margin: 150px;
    margin-bottom: 10px;
  }
  .grids424 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  .ifr {
    width: 420px;
  }
}

@media (min-width: 540px) and (max-width: 620px) {
  .FORMU {
    margin-left: 0px;
    padding-left: 0;
    margin-right: 0;
    padding-right: 0px;
  }
  .grid43 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    margin: 10px;
    margin-left: 120px;
  }
  .logocod {
    margin: 50px;
  }
  .logocod2 {
    margin: 90px;
    margin-bottom: 10px;
  }
  .grids424 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    margin-left: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .ifr {
    width: 340px;
  }
}

@media (min-width: 420px) and (max-width: 540px) {
  .FORMU {
    margin-left: 0px;
    padding-left: 0;
    margin-right: 0;
    padding-right: 0px;
  }
  .grid43 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    margin: 10px;
    margin-left: 100px;
  }
  .logocod {
    margin: 50px;
  }
  .logocod2 {
    margin: 90px;
    margin-bottom: 10px;
  }
  .grids424 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .ifr {
    width: 300px;
  }
}

@media (min-width: 300px) and (max-width: 420px) {
  .FORMU {
    margin-left: 0px;
    padding-left: 0;
    margin-right: 0;
    padding-right: 0px;
  }
  .definitive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .grid43 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    margin: 10px;
    margin-left: 65px;
  }
  .logocod {
    margin: 50px;
  }
  .logocod2 {
    margin: 90px;
    margin-bottom: 10px;
  }
  .grids424 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .ifr {
    width: 270px;
    margin: 0;
  }
}

@media (min-width: 200px) and (max-width: 300px) {
  .ifr {
    width: 230px;
  }
}
/*# sourceMappingURL=style.css.map */